@media(max-width:1180px) {

    #showDetails {
        margin-left: 344px;
    }

    .right-column {
        margin-left: 0px;
        padding: 20px 8px 20px 8px;
    }

    .separator {
        margin: 0 0;
    }

    .contact-header {
        margin-left: 344px;
    }

    .overlay-content {
        width: 1000px;
        height: 400px;
    }

    .contact-overlay-content {
        width: 1000px;
        height: 400px;
    }

    .contact-details-row {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 40px;
    }

    .contact-input-container {

        margin-bottom: 1px;
    }
}

@media(max-width:1080px) {
    html {
        overflow: scroll;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: white;
    }

    .contact_link_container {
        margin-top: 20px;
    }

    .right-column .contact-initials {
        width: 80px;
        height: 80px;
        font-size: 24px;
        font-weight: 400;
    }

    .add-contact-circle img {
        display: flex;
    }

    .mobileEdit-button img {
        height: 32px;
        width: 32px;
        align-items: center;
    }

    .mobileEdit-overlay {
        top: 85%;
        right: 2% !important;
    }

    .contactsPage {
        margin-top: 90px;
        margin-left: 0px;
    }

    .contact-header {
        margin: 0;
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;
    }

    .close-button {
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    .close-button.active {
        color: #3498db;
        background-color: #3498db;
    }

    .left-column {
        flex: 0 0 30%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
        height: 68.5vh;
        cursor: pointer;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin-top: 0px;
        margin-left: 10px;
    }

    .header-content {
        display: none;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
    }

    #contact-overlay {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
    }

    .overlay-content {
        display: flex;
        width: 700px;
        height: 100%;
        border-radius: 20px;
    }

    .contact-overlay-content {
        display: flex;
        width: 700px;
        height: 100%;
        border-radius: 20px;
    }

    .contact-initials-overlay {
        width: 100px;
        height: 80px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-right: 15px;
        border-radius: 50%;
        overflow: hidden;
    }

    .left-section h2 {
        font-size: 24px;
        color: #fff;
        position: relative;
    }

    .left-section p {
        position: relative;
        margin: 0;
        color: #fff;
        font-size: 18px;
    }

    .right-section-flex {
        display: flex;
        gap: 25px;
        position: relative;
        margin-top: 40px;
    }

    .right-column {
        padding: 16px;
    }

    .links {
        display: none;
    }

    .contact h1 {
        margin: 0;
        font-size: 54px;
    }

    .contact h3 {
        position: relative;
        font-size: 18px;
        color: #333;
        margin-left: 0px;
    }

    .contact h3::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 60px;
        border-bottom: 2px solid #3498db;
    }

    #showDetails {
        margin-left: 0px;
        margin-top: 20px;
        padding: 20px;
        display: grid;
        justify-content: flex-start;
        border-radius: 5px;
    }

    .separator {
        display: none;
    }

    .left-column {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 88.5vh;
    }

    .contact-item.active {
        background-color: inherit !important;
    }

    .contact-item.active h3 {
        color: inherit !important;
    }

    .left-column #content {
        width: 100%;
    }

    .left-column .header-content,
    .left-column {
        align-self: flex-start;
    }

    .add-contact-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 85%;
    }

    .right-column {
        display: none;
    }

    .right-column.active {
        display: block;
    }

    .left-column.hidden {
        display: none;
    }

    .back-button {
        display: block;
    }

    .right-column {
        display: none;
    }

    .right-column.active {
        display: block;
    }

    .left-column.hidden {
        display: none;
    }

    .back-button {
        cursor: pointer;
        font-size: 18px;
        margin-bottom: 20px;
        color: #2A3647;
        display: block;
    }

    .mobileEdit-button-container {
        position: fixed;
        bottom: 80px;
        right: 20px;
        z-index: 1000;
        display: block;
    }

    .mobileEdit-button {
        background-color: #2A3647;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex !important;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        margin-left: 90%;
        margin-top: 15%;
        transform: none;
        position: static;
    }

    .left-column .mobileEdit-button {
        display: none;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}

@media(max-width:990px) {

    #main-content {
        margin-left: 0;
        margin-top: 95px;
        margin-bottom: 90px;
    }

    .contact-list {
        flex: 0 0 30%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
        height: 71.5vh;
        cursor: pointer;
    }
}

@media (max-width: 780px) {

    .contact-input-container .contact-input-icon {
        top: 50%;
    }

    .mobileEdit-overlay {
        top: 0%;
        right: 0% !important;
    }

    .overlay {
        transform: translate(-50%, -50%);
        width: 600px;
        height: 400px;
    }

    .right-section-flex {
        display: flex;
        gap: 25px;
        position: relative;
        margin-top: 5px;
    }

    .contact-details-row {
        margin-top: 0px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        width: 110%;
        margin-top: 0;
        gap: 0 !important;
    }

    .create-contact {
        padding: 10px;
        font-size: small;
        font-weight: 600;
    }

    #cancel {
        display: none;
    }

    .close-button:hover {
        background-color: transparent;
    }

    .close-button:active,
    .close-button:focus {
        background-color: #3498db;
        color: white;
        border-radius: 50%;
        transition: background-color 0.2s ease;
    }

    .button-container {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 16px;
    }

    .contact-item {
        width: 100%;
        padding: 10px 0;
    }

    .contact-item:hover {
        background-color: white;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: #ddd;
        margin: 10px 0;
    }

    .mobileEdit-button {
        transform: translateY(-60PX);
    }

    .contact-list .contact-item:last-of-type+.divider {
        display: block;
    }

    .add-contact-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 90px;
        right: 10%;
        padding: 8px;
    }

    .add-contact-icon img {
        width: 40px;
        height: 40px;
    }

    .contact.active,
    .contact-details.active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 1000;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .letter-header {
        font-size: 22px;
        margin-top: 8px;
        margin-bottom: 10px;

    }

    @keyframes slideIn {
        from {
            transform: translate(-50%, 150%);
        }

        to {
            transform: translate(-50%, -50%);
        }
    }

    .overlay {
        width: 90%;
        height: 570px;
        padding: 0;
        border-radius: 10px;
        margin: 0 auto;

        transform: none;
        overflow: hidden;
        border: none;
        flex-direction: column;
    }

    .overlay.active {
        animation: slideIn 0.5s ease-in-out forwards;
    }

    .overlay-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
    }


    #contact-overlay {
        width: 70%;
        height: 550px;
        padding: 0;
        border-radius: 10px;
        margin: 0 auto;
        transform: none;
        overflow: hidden;
        border: none;
        flex-direction: column;
    }

    .overlay-content::before {
        content: '';
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../assets/icons/person-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        display: block;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        padding: 15px;
        border: 3px solid white;
        box-sizing: border-box;
        background-color: lightgrey;
    }

    .left-section {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .contactOverlayLeft {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .contactOverlayRight {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }

    .right-section {
        width: 100%;
        height: 60%;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .left-section {
        width: 100%;
        height: 40%;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .left-section img {
        display: none;
    }

    .right-section img.centered-image {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 150px;
        z-index: 2;
        display: none;
    }

    .left-section h2 {
        font-size: 24px;
    }

    .left-section p {
        font-size: 14px;
    }

    .right-section-flex {
        flex-direction: column;
        gap: 20px;
        position: relative;
        z-index: 1;
    }

    .close-button {
        top: 20px;
        right: 20px;
        color: #fff !important;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        width: 90%;
        padding-top: 20px;
        max-width: 250px;
        box-sizing: border-box;
        padding: 10px;

        border-radius: 5px;
        font-size: 16px;
    }

    #cancel-button {
        display: none;
    }

    .create-contact-button {
        width: 50%;
        max-width: 250px;
        padding: 12px;
        margin: 20px auto 10px auto;
        font-size: 16px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 0;
    }

    .back-button {
        position: fixed;
        right: 20px;
        top: 20px;
        margin-bottom: 0;
    }

    .dots-icon {
        display: block;
    }

    .contact h1 {
        font-size: 34px;
    }

    #contact-overlay {
        width: 70%;
        height: 550px;
        padding: 0;
        border-radius: 10px;
        margin: 0 auto;

        transform: none;
        overflow: hidden;
        border: none;
        flex-direction: column;
    }

    .contact-overlay-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        justify-content: center;
    }

    .contactOverlayLeft img {
        display: none;
    }

    .contactOverlayLeft {
        width: 100%;
        height: 40%;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .contactOverlayRight {
        width: 100%;
        height: 60%;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .contact-details-inputs {
        margin-top: 20px;
    }

    .contactOverlayRight input[type="text"],
    .contactOverlayRight input[type="email"],
    .contactOverlayRight input[type="tel"] {
        width: 100%;
        max-width: 300px;
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        display: block;
        margin-top: 5px;
    }

    .contact-details-buttons {
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        gap: 20px;
    }

    .contactOverlayLeft h2 {
        font-size: 34px;
    }

    .contactOverlayLeft p {
        font-size: 14px;
    }

    .contact-initials-overlay {
        position: absolute;
        top: calc(100% - 350px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 5px solid #fff;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .contact {
        display: flex;

        align-items: flex-start;
        position: relative;
        padding-top: 0;
    }

    .separator {
        width: 30px;
        height: 2px;
        background-color: #3498db;
        margin: 10px auto;
        position: absolute;
        bottom: -20px;
    }

    h3 {
        margin-bottom: 30px;
        font-size: 16px;
    }

    h1 {
        font-size: 38px !important;
    }

    .contact-details .contact-name {
        font-size: 28px;
        font-style: normal;
        font-family: "PT Sans";
        color: black;
        font-weight: bold;
    }

    .contact-initials {
        width: 50px;
        height: 50px;
    }

    .contact-name-container {
        padding-left: 0;
    }

    .contact-details h2 {
        font-size: 18px;
        font-weight: bold;
    }

    .contact-overlay-buttons {
        display: flex;
        gap: 20px;
        margin-left: 0px;
    }
}

@media(max-width:480px) {
    #contact-overlay {
        width: 90%;
    }

    .contact_link_container {
        margin-top: 26px;
    }

    button .overlay {
        width: 90%;
    }

    .close-button {
        font-size: 16px;
        width: 28px;
        height: 28px;
        top: 8px;
        right: 8px;
    }

    .contact-initials {
        width: 45px;
        height: 45px;
    }

    #contactName {
        font-size: 24px;
        font-weight: bold;
        margin-left: -20px;
    }

    .mobileEdit-button {
        margin-left: 85%;
    }


    #editLinkOverlay i,
    #deleteLinkOverlay i {
        font-size: 16px;
    }

    #editLinkOverlay,
    #deleteLinkOverlay {
        font-size: 16px;
    }

    .add-contact-circle {
        width: 60px;
        height: 60px;
        left: 80%;
    }
}

@media(max-width:400px) {

    .contactOverlayRight input[type="text"],
    .contactOverlayRight input[type="email"],
    .contactOverlayRight input[type="tel"] {
        width: 100%;
        max-width: 200px;
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        display: block;
        margin-top: 5px;
    }

    .mobileEdit-button {
        margin-left: 80%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        width: 90%;
        padding-top: 20px;
        max-width: 200px;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 16px;
        border-radius: 5px;
        font-size: 16px;
    }

    .contactOverlayLeft h2 {
        font-size: 28px;
    }
}