@media (max-width: 1440px) {

    .pos_cont_head_left {
        padding-left: 336px;
    }
}

@media (max-width: 1230px) {

    .pos_cont_head_left {
        padding-left: 300px;
    }
}

@media (max-width: 1180px) {

    .pos_cont_head_left {
        padding-left: 264px;
    }
}

@media (max-width: 1130px) {

    .pos_cont_head_left {
        padding-left: 256px;
    }
}

@media (max-width: 1080px) {

    .mobile_headerNav {
        height: 204px;
    }

    .mobileMenu {
        margin: 6px 12px 6px 6px;
    }

    .headerNavHelp {
        display: block !important;
    }

    header {
        height: 100px;
        left: 0;
        padding: 0px 12px;
    }

    .mobile_headerNav {
        top: 51px;
    }

    .headline_txt,
    .pos_cont_head_left,
    .help_icon img,
    .user-info img {
        display: none;
    }

    .headerImg {
        display: block;
    }

    .pos_cont_head_right {
        padding-right: 0;
    }

    .pos_cont_head_right {
        width: 0;
    }
}

@media (max-width: 490px) {

    .user-icon {
        width: 38px !important;
        height: 38px !important;
        min-width: 0;
    }

    .headerImg img {
        height: 56px;
        width: 48px;
    }
}