@media (max-width: 1300px) {
    .signup-joinContainer {
        margin-top: 160px;
    }
}

@media (max-width: 980px) {
    .join {
        overflow: hidden;
        margin-top: 0;
    }

    .legalPolicy {
        margin-bottom: 360px;
    }

    .error-message {
        padding-left: 10px;
        width: 110%;
    }

    .signup-joinContainer {
        padding: 30px;
        max-width: 400px;
    }

    .signup-joinContainer h1 {
        font-size: 40px;
    }

    .input-group input {
        font-size: 16px;
        padding: 10px 35px 10px 8px;
    }

    .input-group {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
    }

    .signup-button button {
        padding: 5px 40px;
        margin-bottom: 0px;
    }

    .joinLogo img {
        width: 90px;
    }
}

@media (max-width: 780px) {
    .signup-joinContainer {
        position: relative;
        background-color: white;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: auto;
    }

    #signup-logoContainer {
        position: absolute;
        left: 10%;
        z-index: 3000;
        transform: translateX(0);
    }

    .signup-joinContainer {
        margin-top: 160px;
    }
}

@media (max-width: 480px) {
    #signup-logoContainer {
        top: 10px;
        left: 5%;
    }

    .input-group .icon {
        right: -1%;
    }

    .error-message {
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup-joinContainer {
        padding: 20px;
        width: 85%;
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 0;
    }

    .join {
        margin-top: 0;
    }

    .signup-joinContainer h1 {
        font-size: 28px;
        margin-bottom: 40px;
        margin-top: 0;
    }

    .input-group input {
        font-size: 16px;
        padding: 8px 15px;
    }

    #signup-logoContainer img {
        width: 70px;
    }

    .go-to-login {
        top: 10px;
        left: 10px;
    }

    .signup-button button {
        padding: 10px;
        font-size: 16px;
    }

    .legalPolicy {
        gap: 8px;
        font-size: 16px;
        margin-bottom: 8px;
        margin-top: 16px;
    }

    .checkbox-group {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .checkbox-group span {
        font-size: 16px;
    }
}

@media (max-width: 380px) {
    .join {
        justify-content: flex-end;
    }

    #signup-logoContainer {
        top: 8px;
        left: 5%;
    }
}

@media (max-width: 350px) {
    .join {
        justify-content: center;
        margin-top: 0;
    }
}