

@media (max-width: 1440px) {

    .button_container {
        margin-left: 332px;
        margin-block-start: 40px;
    }


    .button_container {
        margin-left: 300px;
    }
}
@media (max-width: 1230px) {

    .button_container {
        margin-left: 300px;
    }
}

@media (max-width: 1180px) {

    .button_container {
        margin-left: 264px;
    }
}

@media (max-width: 1130px) {

    .button_container {
        margin-left: 256px;
    }

    .greets_container {
        margin-left: 32px
    }
}

@media (max-width: 1180px) {

    .button_container {
        margin-left: 264px;
    }
}

@media (max-width: 1130px) {

    

    .greets_container {
        margin-left: 32px
    }
}

@media (max-width: 1080px) {
    .summary-content {
        position: absolute;
        top: 90px; /* Below the fixed header */
        left: 20px; /* Next to the sidebar */
        /
    }

    .button_container {
        margin-left: 0;
        margin-block-start: 0;
    }

    .memory_container {
        justify-content: center;
    }

    .headline {
        margin-block-end: 0;
    }
}

@media (max-width: 850px) {
    .mobile_greets_container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100vh - 172px); 
        background-color:#f6f7f8;
        z-index: 1000px; 
        opacity: 1;
        transition: opacity 1s ease-out;
    }

    .greets_container {
        margin-left: 0;
    }

    .mobile_greets_container.hide {
        opacity: 0;
        pointer-events: none;
    }

    .dividing_line {
        display: none;
    }

    .headline {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        margin-block-start: 24px;

    }

    .txt_container {
        margin-bottom: 0;
    }

    .headline span {
        position: relative;
    }

    .headline span::after {
        content: "";
        position: absolute;

        left: 0;
        bottom: -5px;
        width: 60px;
        border-bottom: 2px solid #3498db;
    }
}




@media (max-width: 600px) {

    .txt_container {
        margin-bottom: 0;
    }

    .mobile_headline_span {
        display: flex;
        font-weight: 400;
        font-size: 24px;
    }

    .headline {
        flex-direction: column;
        align-items: flex-start;
        margin-block-start: 0;
        margin-block-end: 0;
        justify-content: flex-end;
    }

    .dividing_line {
        min-height: 0;
        border-top: 4px solid;
        width: 96px;
    }

    .headline_span {
        display: none;
    }

    .txt_container,
    .d-flex,
    .tasks_container {
        width: 420px;
    }

    .done_container {
        width: 50%;
        height: 146px;

    }

    .urgent_container {
        width: 100%;
        height: 146px;
    }

    .tasks_in_board_container,
    .tasks_in_progress_container,
    .tasks_in_awaiting_container {
        width: 164px;
        height: 146px;
    }

    .to_do_icon,
    .urgent_icon,
    .done_icon {
        width: 48px;
        height: 48px;
    }

    .tasks_in_progress_container,
    .tasks_in_awaiting_container {
        margin-left: 16px;
    }

    .to_do_container {
        width: 50%;
        height: 146px;
        margin-right: 16px;
    }

    .to_do_icon {
        display: none;
    }

    .mobile_to_do_icon_blue {
        display: block;
        width: 48px;
        height: 48px;
    }

    .mobile_to_do_icon_white {
        width: 48px;
        height: 48px;
    }

    .to_do_container:hover .mobile_to_do_icon_blue,
    .done_container:hover .done_icon {
        display: none !important;
    }

    .to_do_container:hover .mobile_to_do_icon_white,
    .done_container:hover .done_icon_white {
        display: inline;
    }
}

@media (max-width: 490px) {

    .txt_container,
    .d-flex,
    .tasks_container {
        width: 360px;
    }

    .to_do_container,
    .done_container {
        width: 50%;
        height: 130px;

    }

    .urgent_container {
        width: 100%;
        height: 130px;
    }

    .tasks_in_board_container,
    .tasks_in_progress_container,
    .tasks_in_awaiting_container {
        width: 140px;
        height: 130px;
    }

    .todo_number,
    .done_number,
    .urgent_number,
    .board_number,
    .progress_number,
    .feedback_number {
        font-size: 40px;
    }

    .to_do,
    .done,
    .urgent,
    .date_txt,
    .info_txt,
    .tasks_in_board,
    .tasks_in_awaiting_feedback,
    .tasks_in_progress {
        font-size: 14px;
    }

    .to_do_icon,
    .urgent_icon,
    .done_icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 449px) {

    .txt_container,
    .d-flex,
    .tasks_container {
        width: 304px;
    }

    .to_do_container,
    .done_container,
    .urgent_container,
    .tasks_in_board_container,
    .tasks_in_progress_container,
    .tasks_in_awaiting_container {
        height: 108px;
    }
    .summary-content {
        position: absolute;
        top: 90px; 
        left: 0px; 
    
    }

}