<header>
    <div class="headerImg">
        <img  src="../Assets/joinLogo.svg" alt="">
    </div>  
    <div class="pos_cont_head_left">
        <div class="header_txt_position">
            <span class="headline_txt">Kanban Project Management Tool</span>
        </div>
    </div>
    <div class="pos_cont_head_right">
        <div class="help_user_container">
            <div class="help_icon">
                <a href="./help.html">
                    <img src="../assets/icons/help_icon.png">
                </a>
            </div>
            <div onclick="HeaderMenu()" class="user-icon cursorPointer" id="name_menu">G</div>
            <!-- Removed extra space -->
        </div>
        <div id="test">
            <div id="mobileMenu" class="mobileMenu">
                <a class="headerNavHelp d-none" href="../html/help.html">Help</a>
                <a href="../html/legalNotice.html">Legal Notice</a>
                <a href="../html/privacypolicy.html">Privacy Policy</a>
                <a onclick="logout()">Log out</a>
            </div>
        </div>
    </div>
    <script src="./scripts/header.js" defer></script> <!-- Ensure scripts load after the HTML -->
    <script src="./script.js" defer></script>
    <script src="./scripts/signup.js" defer></script>
    <script src="./styles/board.css" defer></script>
    <script src="./scripts/taskcard.js" defer></script>
</header>