<div id="sidebar">
    <div class="sidebar_size">
        <div class="sidelinks" id="sidelinks">
            <div class="sidebar_img_container">
                <img class="sidebarlogo" src="../Assets/JoinLogoWhite.svg" alt="Join-logo">
            </div>
            <nav class="menu_bar" id="menu-links">
                <section id="widget_1" class="widget">
                    <a class="sidebartext" href="../html/summary.html#widget_1">
                        <img class="sidebarimg" src="../Assets/summaryDesktop.svg" alt="summary">
                        Summary
                    </a>
                </section>
                <section id="widget_2" class="widget">
                    <a class="sidebartext" href="../html/addTask.html">
                        <img class="sidebarimg" src="../Assets/addTaskDesktop.svg" alt="add task">
                        Add Task
                    </a>
                </section>
                <section id="widget_3" class="widget">
                    <a class="sidebartext" href="../html/board.html">
                        <img class="sidebarimg" src="../Assets/boardDesktop (2).svg" alt="board">
                        Board
                    </a>
                </section>
                <section id="widget_4" class="widget">
                    <a class="sidebartext" href="contacts.html#widget_4">
                        <img class="sidebarimg" src="../Assets/contactsDesktop.svg" alt="contacts">
                        Contacts
                    </a>
                </section>
            </nav>
        </div>
        <section class="privacy_and_noticy_container">
            <div id="sidefoot">
                <div class="nav_position_button">
                    <a class="sidebartext" href="../html/privacypolicy.html?from=signup">Privacy Policy</a>
                </div>
                <div class="nav_position_button">
                    <a class="sidebartext" href="../html/legalNotice.html?from=signup">Legal Notice</a>
                </div>
            </div>
        </section>
        <div id="login-link" style="display: none; text-align: center; padding: 20px;">
            <a href="../html/log_in.html">
                <img src="../Assets/login icon.svg" alt="Login" style="width: 30px; height: 30px;">
                <span>Back to Login</span>
            </a>
        </div>
    </div>
</div>