body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f7f8;
  scroll-behavior: smooth;
  overflow: hidden;
  font-family: 'Inter', sans-serif !important;
  height: 100vh;
  max-width: 1420px !important;
}

a {
  text-decoration: none;
  color: #a8a8a8;
}

.d-flex {
  display: flex;
  flex-direction: column;
  margin-block-end: 32px;
}

.d-none {
  display: none;
}

.content_container_size {
  width: 1000px;
  margin-left: 24px;
}

.headline_addTask_position {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 32px;
  margin-top: 64px;
}

.headline_txt_addTask {
  font-size: 64px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

.left_container,
.right_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.container_pos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-left: 232px;
}

.container_size {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input[type=text],
input[type=date i],
input[type=date],
select {
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 48px;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

textarea {
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 120px;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  resize: none;
  background-image: url(/assets/icons/textarea_icon.png);
  background-repeat: no-repeat;
  background-position: right 4px bottom 4px;
  background-size: 18px;
  overflow-y: auto;
  scrollbar-width: none;
}



label,
.assigned_headline,
.category_headline,
.subtasks_headline {
  font-size: 20px;
  font-weight: 400;
  padding: 8px 0 8px 0;
  display: inline-block;
  color: #2A3647;
}

.clear_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 56px;
  border-radius: 10px;
  font-weight: 400;
  border: 1px solid rgb(42, 54, 71);
  font-size: 20px;
  color: rgb(42, 54, 71);
  box-shadow: 0px 0px 4px 0px #0000001a;
  outline: none;
  background-color: white;
  gap: 2px;
}

.clear_btn:hover {
  border: 2px solid rgb(29, 164, 238);
  color: rgb(29, 164, 238);
  background-color: white;
}

.create_task_btn_container,
.clear_task_btn_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.clear_task_btn_container:hover .clear_icon {
  display: none;
}

.clear_task_btn_container:hover .clear_icon_blue {
  display: inline;
  color: rgb(29, 164, 238);
}

.create_task_btn:hover {
  background-color: rgb(29, 164, 238);
  border-radius: 10px;
}

.create_task_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 54, 71);
  width: 172px;
  height: 56px;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  font-size: 20px;
  color: white;
  box-shadow: 0px 0px 4px 0px #0000001a;
  outline: none;
  gap: 2px;
}

.btn_container_addTask {
  display: flex;
  justify-content: space-between;
  margin-block-start: 80px;
}

.btn_position {
  display: flex;
  gap: 16px;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}


label select {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

.required_icon {
  color: red;
}

.prio_btn_container {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}

.prioBtnUrgent,
.prioBtnLow {
  width: 136px;
  height: 56px;
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px #0000001a;
  background-color: white;
}

.prioBtnUrgent:hover,
.prioBtnLow:hover,
.prioBtnMedium:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  background-color: white;
  color: black;
}

.prioBtnMedium {
  width: 136px;
  height: 56px;
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: white;
}

.prioBtnMedium img {
  filter: brightness(0) saturate(100%) invert(68%) sepia(94%) saturate(342%) hue-rotate(360deg) brightness(103%) contrast(103%);
}

.prioBtnUrgent.active:hover,
.prioBtnMedium.active:hover,
.prioBtnLow.active:hover {
  box-shadow: none;
}

.prioBtnUrgent.active {
  background-color: #FF3D00;
  color: white;
}

.prioBtnUrgent.active img {
  filter: brightness(0) invert(1);
}

.prioBtnMedium.active {
  background-color: #FFA800;
  color: white;
}

.prioBtnMedium.active img {
  filter: brightness(0) invert(1);
}

.prioBtnLow.active {
  background-color: #7AE229;
  color: white;
}

.prioBtnLow.active img {
  filter: brightness(0) invert(1);
}

.datepicker_container {
  margin-block-end: 26px;
}

.prio_container {
  display: flex;
  flex-direction: column;
  margin-block-end: 26px;
}

.subtask_input_container {
  margin-bottom: 20px;
}

.subtask_input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.divider_line_subtask {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 8px;
  height: 44px;
}

.add_subtask_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -37px;
  width: 25px;
  height: 25px;
}

.add_delete_container {
  display: none;
}

.add_subtask_container:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.add_subtask_img {
  cursor: pointer;
}

.delete_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -37px;
  width: 25px;
  height: 25px;
}

.delete_btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.add_btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.add_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}


.divider_line {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 56px;
  height: 432px;
}



.required_container {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
  border-color: rgb(41, 171, 226);
  outline: none;
  box-shadow: none;
}

#title::placeholder,
#description::placeholder,
input[type="date"],
#subtasks {
  color: #D1D1D1;
}

.taskPage {
  margin-top: 120px;
  margin-left: 320px;
}
.assigned_container {
  position: relative;
  width: 100%;
  margin-block-end: 32px;
}

input[type="checkbox"] {
  display: inline-block;
  border: 0px !important;
  background-image: url(/assets/icons/contact_icon_uncheck.png);
  background-size: cover;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0px;
  margin: 0;
}

input[type="checkbox"]:checked {
  background-image: url(/assets/icons/contact_icon_check.png);
}

.checkbox_class {
  height: 20px;
  width: 20px;
}

.assigned_position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  border: 1px solid #d1d1d1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  cursor: pointer;
}

.assigned_select {
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
}

.drop_down_img_assigned_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.drop_down_main_container {
  display: none;
  background-color: #fff;
  max-height: 201px;
  overflow-y: auto;
  z-index: 1000;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
}

.select_contacts_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 12px;
  height: 48px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 3px;
  cursor: pointer;
}
.selected-contacts-initials {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.selected-contacts-initials .initials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -37px;
  width: 25px;
  height: 25px;
}

.add_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.contact_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: solid 2px rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
  margin-right: 5px;
  background-color: #FF745E;
}


.category_container {
  position: relative;
  width: 100%;
  margin-block-end: 14px;
}

.category_position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  border: 1px solid #d1d1d1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  cursor: pointer;
}

.category_select {
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
}

.drop_down_img_category_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.drop_down_img_category_container:hover,
.drop_down_img_assigned_container:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.select_category_container {
  display: none;
  position: absolute;
  background-color: #fff;
  max-height: 201px;
  overflow-y: auto;
  z-index: 1000;
  width: 100%;
  border-radius: 10px;
}

.select_category {
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}

.select_category:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.rotate180 {
  transform: rotate(180deg);
  transition: transform 0.2sease;
  padding-top: 4px;
}

.show {
  display: block;
}

.added_text {
  max-height: 150px;
  overflow-y: auto;
  margin-top: 10px;
  scrollbar-width: none;
  border-radius: 10px;
}

.visible {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.no-hover {
  background-color: transparent !important;
}

.subTaskEditInput {
  width: 350px !important;
  padding-left: 8px !important;
  font-size: 16px !important;
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
  display: inline-block !important;
  box-shadow: none !important;
}

.subTaskInputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.inputSubTaksClickContainer {
  display: none;
}

.inputSubTaksClickContainer.visible {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.subTaskList {
  max-height: 150px;
  overflow-y: auto;
  margin-top: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.subTaskList::-webkit-scrollbar {
  display: none;
}

.subTaskListContainer {
  padding-left: 10px;
  border-radius: 10px;
  position: relative;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.listSubTask {
  font-size: 16px;
  width: 100%;
  text-align: start;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: normal;
}

.subTask {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  border-radius: 10px;
}

.subTaskButtons {
  border-radius: 10px;
  padding-right: 8px;

}

.subTask .subTaskButtons {
  display: none;
}

.subTask:hover .subTaskButtons {
  display: flex;
}

.subTask:hover {
  cursor: pointer;
  background-color: #d3d3d354;
}

.subTaskEdit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  background-color: #d3d3d354;
  border-bottom: 2px solid #29ABE2;
  border-radius: 10px;
}

.rightContainerSubTask {
  display: flex;
}

.partingLine {
  height: 24px;
  width: 2px;
  background-color: #D1D1D1;
  margin-right: 5px;
  margin-left: 5px;
}

.subTaskDeleteButton {
  padding-right: 24px;
}

.subTaskSaveButton {
  padding-right: 16px;
}

/*new design for assign contact*/

.dropdown {
  position: relative;
  width: 100%;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icons {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.icons:hover{
border-radius: 50%;
background-color:#f0f0f0;
}
.dropdownimg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.d-none {
  display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  margin-top: px;
}
.dropdown-content div {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.initials-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  position: relative; 
}
.initials {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 14px;
  font-weight: bold;
  color: white; 
}
.dropdown-content input[type="checkbox"] {
  margin-left: 10px; 
  cursor: pointer;
}