.board_main{
    max-width: 1440px;
    margin-top: 180px;
    margin-left: 350px;
}

h1 {
    font-size: 56px;
}

.header_board {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_button {
    display: flex;
    gap: 16px;
}

.task_btn {
    border: none;
    background-color: #2A3647;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 16px;
    border-radius: 8px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.task_btn:hover {
    background-color: #29abe2;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.input_img {
    display: flex;
    padding: 12px 21px;
    border: solid 1px #d1d1d1;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
    height: 24px;
    background-color: white;
}

.find_task {
    border: none;
    outline: none;
    font-size: 20px;
}

.shadow {
    height: 24px;
    width: 1px;
    background-color: gray;
    margin: 0 8px;
}