.contactsPage {
    margin-top: 90px;
    margin-left: 230px;

}

.d-none {
    display: none;
}

.cursorPointer {
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact_info {
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 16px
}

.contact_mail,
.contact_phone {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-header {
    display: flex;
    align-items: center;
    gap: 32px;
}

.contact h1 {
    margin: 0;
    font-size: 56px;
}

.contact h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    width: 4px;
    min-height: 56px;
    border: 0;
    border-radius: 24px;
    color: rgb(29, 164, 238);
    background-color: rgb(29, 164, 238);
}

.mobileEdit-button {
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transform: translateY(-120px);
    position: fixed;
    left: 70%;
    display: none;
    cursor: pointer;
    position: relative;
}

.left-column {
    position: fixed;
    width: 400px;
    height: 100vh;
    background-color: #fff;
    border-right: 2px solid #ccc;
    box-shadow: 4px 0px 4px 0px rgb(0, 0, 0, 0.1);
    padding: 30px;
    overflow-y: auto;
    cursor: pointer;
    margin-bottom: 10px;
}

.left-column p {
    color: #3498db;
    margin: 0;
    font-size: 16px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2A3647;
    border-radius: 16px;
    font-size: 24px;
    gap: 10px;
    font-weight: 700;
    padding: 8px;
    height: 48px;
}

.header-content:hover {
    background-color: #3498db;
}

/* New Circular Add Contact Button */
.add-contact-circle {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    left: 24%;
    transform: translateY(-80%);
    width: 70px;
    height: 70px;
    background-color: #2A3647;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    padding: 10px;
    border-radius: 16px;
}

.letter-header {
    font-size: 24px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #333;
    border-bottom: 2px solid lightgray;
    padding-bottom: 16px;
    padding-left: 23px;
}

.contact-item:last-child {
    border-bottom: none;
    margin-bottom: 160px;
}

/* contact display section(scrollable) */
.right-column {
    margin-left: 460px;
    padding: 124px 102px 102px 102px;
}

.hidden {
    display: none;
}

#showDetails {
    margin-top: 32px;
    border-radius: 5px;
}

#showDetails h1 {
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

#contactName {
    font-size: 40px;
    font-weight: 500;
}

.links {
    display: flex;
    padding-top: 8px;
}

.links img {
    width: 20px;
    height: 20px;
}

.links_pos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    text-decoration: none !important;
    gap: 8px;
}

#showDetails .details-columns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

#showDetails a {
    margin-right: 10px;
    text-decoration: none !important;
    color: #007bff;
}

#showDetails a:hover {
    text-decoration: underline;
}

/* create contacts Overlay styles */
.overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;

}

.overlay.active {
    display: flex;
    /* Show the overlay */
}

.overlay-content {
    display: flex;
    width: 1200px;
    height: 560px;
    border-radius: 24px;
}

.left-section {
    display: flex;
    background-color: #2A3647;
    width: 32%;
    padding: 20px 20px 84px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.left-section h2 {
    font-size: 56px;
    color: #fff;
    position: relative;
    margin-top: 24px;
}

.left-section p {
    position: relative;
    margin: 0;
    color: #fff;
    font-size: 24px;
}

.left-section p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 30%;
    border-bottom: 4px solid #3498db;
}

/* Right Section Styles */
.right-section {
    flex: 1;
    padding: 20px 40px 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(73, 25, 25, 0.1);
    gap: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right-section-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    position: relative;
    width: 100%;
    height: 100%;
}

.contact-persona {
    width: 168px;
    height: 120px;
    border-radius: 100%;
    background-color: #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-block-end: 64px;
}

.centered_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Form Styles */
#contact-form {
    display: flex;
    flex-direction: column;
}

.input-container input {
    padding: 10px 16px 10px 16px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.input-container .input-icon {
    position: absolute;
    margin-top: 10px;
    right: 12px;
    width: 24px;
    height: 24px;
    pointer-events: none;
    opacity: 0.7;
}

.input-container input:focus {
    border-color: #3498db;
    outline: none;
}



.button-container {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin-top: 16px;
}

.create-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    height: 56px;
    width: 120px;
    background-color: rgb(42, 54, 71);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px #0000001a;
    transition: background-color 0.25s ease, color 0.25s ease;
    border: none;
    gap: 2px;
}


.create-contact:hover {
    background-color: #3498db;
    border: none;
}

.cancel {
    height: 56px;
    width: 120px;
    font-weight: 400;
    font-size: 24px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #1a2b47;
    padding: 10px;
    color: #1a2b47;
    cursor: pointer;
}

.cancel:hover {
    color: #3498db;
    border: 1px solid #3498db;
}

.close-button {
    position: absolute;
    top: 5%;
    right: 3.5%;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-button:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

/*edit overlay section*/
#contact-overlay {

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;


}

#contact-overlay.active {
    display: flex;
}


.contact-overlay-content {
    display: flex;
    width: 1200px;
    height: 560px;
    border-radius: 24px;

}

.contactOverlayLeft {
    display: flex;
    background-color: #2A3647;
    width: 32%;
    padding: 20px 20px 84px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.contactOverlayLeft h2 {
    font-size: 56px;
    color: #fff;
    position: relative;
    margin-top: 24px;

}

.contactOverlayLeft img {
    display: flex;
}

.contactOverlayLeft h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 32%;
    border-bottom: 4px solid #3498db;
    border-radius: 32px;
}

.contactOverlayRight {
    flex: 1;
    padding: 20px 40px 20px 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(73, 25, 25, 0.1);
    gap: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.contact-details-buttons {
    display: flex;
    gap: 16px;
}

.edit-input {
    padding: 10px 16px 10px 16px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 24px;
    /* Adds space below each input field */
}

.edit-input:focus {
    border-color: #007bff;
    outline: none;
}

.left-sectionImg {
    width: 64px;
    height: 72px;
}

.contact-details-row {
    display: flex;
    align-items: center;
    gap: 64px;
    height: 100%;
    width: 100%;
}

.contact_details_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.contact-details h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 8px;
}

.contact-details-inputs {
    display: flex;
    flex-direction: column;
}

.contact-details-inputs img {
    position: absolute;
    margin-top: 12px;
    right: 56px;
    pointer-events: none;
    opacity: 0.7;
}

.contact_initials_overlay_container {
    display: flex;
    margin-bottom: 32px;
}

.contact-initials {
    width: 48px;
    height: 48px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-right: 16px;
    border-radius: 100%;
    overflow: hidden;
    border: 3px solid white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

}

.contact-initials-overlay {
    width: 168px;
    height: 120px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: 500;
    border-radius: 100%;
    overflow: hidden;
    margin-block-end: 64px;
    border: 3px solid white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.contact-initials-overlay-profil {
    width: 120px;
    height: 120px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 400;
    border-radius: 100%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border: 3px solid white;
}

#contact-overlay.open {
    left: 0;
}

.contact_link_container {
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    justify-content: center;
}

.contact-item.active {
    background-color: #2A3647;
}

.contact-item.active h3 {
    color: white;
}