header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    text-align: center;
    height: 95px;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 4px 4px 0px #0000001A;
    z-index: 999;
}

.user-info {
    display: flex;
    gap: 16px;
    margin-right: 1em;
    align-items: center;
}

.user-icon {
    color: #29ABE2;
    font-size: 20px;
    min-width: 42px;
    height: 42px;
    border-radius: 100%;
    border: 2px solid rgb(42, 54, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 2px;
    cursor: pointer;
}

.user-icon:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

header p {
    font-size: 22px;
}

.ser-icon {
    border-radius: 100%;
    border: 1px;
}

.join_logo_mobile {
    display: none;
}

.header_overlay {
    height: 100vh;
    width: 100vw;
    z-index: 10000;
}

.mobileMenu {
    position: fixed;
    /* Absolute Positionierung */
    display: flex;
    flex-direction: column;
    top: 90px;
    /* Direkt unter dem Header */
    right: 0 !important;
    /* for the animation */
    background-color: #2A3647;
    z-index: 1000;
    /* Höherer Z-Index, damit das Menü über anderen Inhalten liegt */
    padding: 16px;
    border-radius: 20px;
    border-top-right-radius: 0;
    margin: 6px;
    width: 160px;
    height: 160px;
    justify-content: space-evenly;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.active {
    transform: translateX(0);
    opacity: 1;
}

.mobileMenu a {
    text-decoration: none;
    color: #CDCDCD;
    padding: 5px 8px;
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    cursor: pointer;
}

.headerImg {
    display:none;

}

.headerImg img {
    height: 60px;
    width: 70px;
}

.mobileMenu a:hover {
    background-color: #2A3D59;
}

.headline_txt {
    font-weight: 400;
    font-size: 22px;
    padding-right: 40px;
}

.header_txt_position,
.user_class {
    display: flex;
    align-items: center;
}

.pos_cont_head_left {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.pos_cont_head_right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-right: 32px;
}

.help_user_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.help_icon {
    display: flex;
    align-items: center;
    align-content: center;
}

.help_icon img {
    height: 20px;
    width: 20px;
}
@media (max-width: 1080px) {
    

    .mobile_headerNav {
        height: 204px;
    }

    .headerNavHelp {
        display: block !important;
    }

    header {
        height: 100px;
        left: 0;
        padding: 0px 12px;
    }

    .mobile_headerNav {
        top: 51px;
    }

    .headline_txt {
        display: none;
    }

    .headerImg {
        display: block;
    }

    .user-info img {
        display: none;
    }
    .help_icon img {
        display: none;
    }
   

   

    

    

    
}