body {
  overflow: auto;
  font-family: 'Inter', sans-serif !important;
}

.main-content {
  margin-left: 232px;
  margin-top: 120px;
  margin-right: 30px;
  overflow: auto;
  max-height: calc(100vh - 140px);
  max-width: 1420px;
}

.impressum-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-none {
  display: none;
}

.legalNotice {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.impressum {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding-inline: 40px;
}

.impressum h1 {
  font-weight: 700;
  font-size: 56px;
}

.impressum a {
  color: #007bff;
  text-decoration: none;
  padding-bottom: 30px;
}

.impressum a:hover {
  text-decoration: underline;
}

.back-arrow {
  margin-bottom: 20px;
}

@media (max-width:1060px) {

  .main-content {
  margin-left: 0px;
  margin-top: 100px;
  
  overflow: auto;
  max-height: calc(100vh - 140px);
}
}