@font-face {
    font-family: "Inter", sans-serif;
    src: url(../assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #f6f7f8;
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

.max_width {
    max-width: 1440px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #a8a8a8;
}