

.toast {
    position: fixed;
    bottom: -100px; /* Start off-screen */
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    transition: bottom 0.8s ease-out, opacity 0.8s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    text-align: center;
    background-color: #1a2b47;
}
.toast.show {
    bottom: 50%; 
    opacity: 1;
}

.toast.hide {
    opacity: 0;
    bottom: 55%;
    transition: opacity 0.5s ease-in-out, bottom 0.5s ease-in-out;
}



  